body.info-page {
  font-family: "Roboto", sans-serif;
  margin: 0;
  background-color: #f2f2f2;
  color: black;
}

.info-text {
  text-align: center;
  margin-top: 50px;
  padding: 0px;
  margin-left: 15%;
  margin-right: 15%;
  font-size: 18px;
  color: black;
}

.profile-links {
  list-style-type: none;
  padding-top: 0px;
}

.profile-links li {
  list-style-type: none;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}

.profile-links li img {
  width: 1em;
  height: 1em;
  margin-right: 0.5em;
}

.profile-links h1{
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 0px;
}

.profile-links a:visited{
  color: blue;
}